// font-size
$_H1: 4rem;
$_H2: 2.25rem;
$_H3: 1.875rem;
$_H4: 1.5rem;
$_H5: 1.125rem;
$_H6: 0.8125rem;

// colors
$_text: #ffffff;
$_red_light: #ff4343;
$_red_dark: #e71414;
$_work_activ: #b90c0c;
$_nav_bor_hov: #babbc5;
$_social: #c6cbcd;