// font-size
$_h1_64: 4rem;
$_italic_36: 2.25rem;
$_h2_30: 1.875rem;
$_subtitle_24: 1.5rem;
$_text_p_18: 1.125rem;
$_text_13: 0.8125rem;

// colors
$_white: #ffffff;
$_black: #000000;
$_black-light: #2D3033;
$_grey_1: #6C7279;
$_red_light: #ff4343;
// #808080 -grey

$_red_dark: #e71414;
$_work_activ: #b90c0c;
$_nav_bor_hov: #babbc5;
$_social: #c6cbcd;