.header {
    background-image: url('../img/bg/bg-main.png');
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    padding: 36px 0 120px;
    position: relative;
    z-index: 1;

    //? МАСКА
    &::before {
        content: '';
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background-color: #252b4980;
        z-index: 2;
    }
}

.container {
    position: relative;
    z-index: 3;
}



.header-wrap {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    margin: 0 -15px;
    border-bottom: 1px solid #BABBC5;
    width: 100%;
    margin: 0 auto 129px;

    .logo {
        margin: 0 15px;
        height: 63px;
    }

    .navigation {
        margin: 0 15px;
        height: 63px;

        &-list {
            display: flex;
            text-align: center;

            &_item {
                width: 134px;
                position: relative;
                top: -36px;

                & a {
                    @include text_White;
                    display: block;
                    height: 100px;
                    line-height: 100px;

                    &:hover {
                        border-bottom: 3px solid $_nav_bor_hov;
                        transition: 0.2s;
                    }

                    &:active {
                        border-bottom: 3px solid $_red_dark;
                        color: $_red_dark;
                        transition: 0.2s;
                    }
                }

                &:last-child {
                    display: none;
                }
            }
        }
    }

}





.main-wrap {
    .titel {
        @include title;
        text-align: center;
        margin: 0 auto 31px;
    }

    .main-text {
        font-weight: 400;
        font-size: $_subtitle_24;
        color: $_white;
        text-align: center;
        margin-bottom: 80px;
    }

    // .btn-link {}

    // .btn {}
}