* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    list-style: none;
    text-decoration: none;
}

@import "../sass/fonts";
@import "../sass/cdn";
@import "../sass/var";
@import "../sass/mixins";
@import "../sass/header.scss";
@import "../sass/features.scss";
@import "../sass/work.scss";
@import "../sass/team.scss";
@import "../sass/testimonials.scss";
@import "../sass/download.scss";
@import "../sass/footer.scss";

html {
    font-family: 'Raleway', 'Cardo', sans-serif;
    font-size: 16px;
}

button {
    border: 0;
    cursor: pointer;
    background-color: transparent;
}

.container {
    max-width: 1170px;
    padding: 0 15px;
    margin: auto;
}

.btn-link {
    .btn {
        @include button;

        &:hover {
            background-color: $_red_dark;
        }

        &:active {
            background-color: $_red_light;
            box-shadow: 4px 4px 30px $_red_light;
        }
    }

}