.team {
    padding: 114px 0;

}

// .container {}

.team-wrap {
    display: flex;
    justify-content: space-between;
}



.team-card {
    width: 270px;

    .foto {
        width: 270px;
        height: 270px;
        margin-bottom: 30px;
    }

    .name {
        @include sur-name;
        margin-bottom: 6px;
    }

    .job {
        text-transform: uppercase;
        font-weight: 400;
        font-size: $_text_p_18;
        color: $_red_light;
        margin-bottom: 18px;
    }

    .team-text {
        @include text_p-grey;
        margin-bottom: 38px;
    }
}

.wrapper-socials {
    width: 128px;
}

.fa-brands {
    color: #C6CBCD;
    font-size: 18px;
}