.work {}

//обертка 1-РЯД
.work-wrap-top,
.work-wrap-bottom {
    display: flex;
}

// a ----- одна из 4-х картин
.work-link {
    width: 25%;
    height: 340px;
    position: relative;
    border: 2px solid $_white;
    overflow: hidden;
}

.work-link:hover .work-content {
    background-color: #FF434380;
    opacity: 1;
}

.work-link:active .work-content {
    background-color: rgba(185, 12, 12, 0.8);
    opacity: 1;
}


.work-link img {
    @include foto;
    width: 100%;
    height: 340px;
    position: absolute;
    z-index: 1;
}

.work-content {
    position: absolute;
    top: 0;
    left: 0;
    z-index: 2;
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    text-align: center;
    justify-content: center;
    opacity: 0;
    transition: 0.2s;
}

// .subtitle {}

.subtitle-work {
    @include subtitle_White;
    margin-bottom: 36px;
}

.work-text {
    font-weight: 400;
    @include text_p-white;
}

//обертка 2-РЯД
// .work-wrap-bottom {}